* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #000;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/**Fonts **/
@font-face {
    font-family: 'Specify PERSONAL Expanded';
    src: url('/fonts/specify-personal-expanded-bold-maisfontes.d310/specify-personal-expanded-bold.ttf') format('truetype'),
    url('/fonts/specify-personal-expanded-bold-maisfontes.d310/specify-personal-expanded-bold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    }


.cabecalho {
    width: 100%;
    height: 652px;
}

.imagem {
    width: 100%;
    height: 650px; /* Exemplo de altura fixa, ou pode ser outra */
   
}

.imagem img {
    width: 100%;
    height: 650px;
    object-fit: fill;
}
.group img{
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 145px;
    left: 160px;
}

.rectangle{
    width: 100%;
    height: 50px;
}
.cabecalho2{
    width: 100%;
    height: 400px;
}

.categorias{
    width: 332px;
    height: 0px;

    top: 750px;
    right: 100px;
    position: absolute;
}

.conhecaNossosServicos{  
    width: 433px;
    height: 251px;
    position: absolute;
    top: 25px;
    right: 450px;

}
.linha1{
    width: 600px;
    height: 1px;
    bottom: 6px;
    right: 60px;;
    position: absolute;
}
.linha2{
    width: 150px;
    height: 20px;
    bottom: -4px;
    right: -15px;;
    position: absolute;
}

.ensaios-fotograficos{
    color: #FFF;
    display: inline-block;
    width: 329px;
    padding: 30px 74px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;

    border-radius: 9.018px;
    border: 1.127px solid #39393E;
    background: rgba(11, 11, 11, 0.30);
    backdrop-filter: blur(2px);
}

.ensaios-fotograficos img{
    width: 100px;
    height: 100%;
    bottom: 15px;
    right: 210px;
    position: absolute;
}

.ensaios-fotograficos img:last-of-type {
    width: 100%; 
    max-width: 280px; 
    margin-top: 10px;
    top: 5px; 
    right: 30px;
}

.cobertura-de-eventos {
    color: #FFF;
    display: inline-block;
    width: 329px;
    height: 80px;
    padding: 30px 74px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    top: 100px;
    position: absolute;

    border-radius: 9.018px;
    border: 1.127px solid #39393E;
    background: rgba(11, 11, 11, 0.30);
    backdrop-filter: blur(2px);
}
.cobertura-de-eventos img{
    width: 150px;
    height: 100%;
    bottom: 20px;
    right: 160px;
    position: absolute;
}
.cobertura-de-eventos img:last-of-type {
    width: 100%; 
    max-width: 280px; 
    margin-top: 10px;
    top: 1px; 
    right: 30px;
}
.producao-de-reels{
    color: #FFF;
    display: flex;
    width: 329px;
    height: 80px;
    padding: 30px 74px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    top: 200px;
    position: absolute;

    border-radius: 9.018px;
    border: 1.127px solid #39393E;
    background: rgba(11, 11, 11, 0.30);
    backdrop-filter: blur(2px);
}
.producao-de-reels img{
    width: 90px;
    height: 50px;
    bottom: 40px;
    right: 220px;
    position: absolute;
}
.producao-de-reels img:last-of-type{
    width: 100%; 
    max-width: 280px; 
    margin-top: 10px;
    top: 10px; 
    right: 30px;
}
.quina{
    width: 55px;
    height: 55px;
    left: 1060px;
    top: 1010px;
    position: absolute;
}
.fundo-cinza{
    background-color: #C5C5C5;
    width: 100%;
    height: 1500px;
    top: 1100px;
    font-size: 30px;
    background-position: center center;
    position: absolute;
}
#port{
    width: 589px;
    height: 103px;
    top: 50px;
    left: 425px;
    margin-bottom: 1000px;
    font-family: "Specify PERSONAL Expanded";
    position: absolute;
}
.port1{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 0.01%, rgba(255, 255, 255, 0.05) 100%);

    box-shadow: 0 4px 24px 1px rgba(35, 16, 94, 0.25);
    backdrop-filter: blur(22.5px);

    width: 980px;
    height: 460px;

    top: 200px;
    left: 100px;
    position: absolute;
}
.port2{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 0.01%, rgba(255, 255, 255, 0.05) 100%);

    box-shadow: 0 4px 24px 1px rgba(35, 16, 94, 0.25);
    backdrop-filter: blur(22.5px);

    width: 980px;
    height: 460px;

    top: 710px;
    right: 105px;
    position: absolute;
}
.EnsaiosIndividuais p{
    color: #060606;
    font-family: "Specify PERSONAL Expanded";
    font-size:50px;
    font-style: normal;
    font-weight: 300;
    line-height: 115%; 

    left: 600px;
    top: 170px;

    position: absolute;
}
.erika img{
    width: 150px;
    height: 200px;
    left: 20px;
    top: 20px;

    border-radius: 10px;

    position: absolute;
}
.morgana img{
    width: 150px;
    height: 200px;
    left: 195px;
    top: 20px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.wellen img{
    width: 150px;
    height: 200px;
    left: 370px;
    top: 20px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.elen img{
    width: 150px;
    height: 200px;
    left: 20px;
    top: 235px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.carlos img{
    width: 150px;
    height: 200px;
    left: 195px;
    top: 235px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.ravena img {
    width: 150px;
    height: 200px;
    left: 370px;
    top: 235px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.casais{
     color: #060606;
    font-family: "Specify PERSONAL Expanded";
    font-size:50px;
    font-style: normal;
    font-weight: 300;
    line-height: 115%; 

    right: 600px;
    top: 170px;

    position: absolute;
}
.paulinhoeanaluiza2 img{
    width: 150px;
    height: 200px;
    right: 20px;
    top: 20px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.leticiaeluiz1 img{
    width: 150px;
    height: 200px;
    right: 195px;
    top: 20px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.paulinhoeanaluiza1 img{
    width: 150px;
    height: 200px;
    right: 370px;
    top: 20px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.leticiaeluiz2 img{
    width: 150px;
    height: 200px;
    right: 370px;
    top: 235px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}
.paulinhoeanaluiza3 img {
    width: 150px;
    height: 200px;
    right: 195px;
    top: 235px;

    border-radius: 10px;
    object-fit: cover;

    position: absolute;
}

.leticiaeluiz3 img {
    width: 150px;
    height: 200px;
    right: 20px;
    bottom: 20px;

    border-radius: 10px;

    position: absolute;
}
.botao{
    display: flex;
    width: 400px;
    height: 75px;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: linear-gradient(90deg, #060606 0%, #060606 68.5%, rgba(129, 129, 129, 0.70) 100%);

    position: absolute;

    top: 1225px;
    left: 400px;
}
.botao p{
    color: #FFF;
    font-family: "Specify PERSONAL Expanded";
}
.depoimento{
    width: 1000px;
    height: 625px;

    border-radius: 39px;
    background: #F0F0F0;

    left: 100px;
    top: 2475px;
    position: absolute;
}

.depoimento h2{
    color: #000;
    font-family: "Specify PERSONAL Expanded";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 156%; /* 156px */

    top: 5px;
    left: 200px;
    position: absolute;
}
.depoimentos1{
    position: absolute;
    top: 145px;
    left: 175px;
    display: flex;
    gap: 20px;
}

.dep1, .dep2, .dep3 {
    width: 200px;
    height: 200px;
    border-radius: 32px;
    background: #D9D9D9;
    position: relative;
}

.depoimentos2 {
    position: absolute;
    top: 365px; /* Abaixo dos primeiros */
    left: 175px;
    display: flex;
    gap: 20px;
}

.dep4, .dep5, .dep6 {
    width: 200px;
    height: 200px;
    border-radius: 32px;
    background: #D9D9D9;
    position: relative;
}

.dep1 p, .dep2 p, .dep3 p, .dep4 p, .dep5 p, .dep6 p {
    position: absolute;
    left: 12px;
    top: 15px;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 90%;
}
.Apresentacao{
    background-color: #C5C5C5;
    width: 100%;
    height: 200px;
    top: 700px;
    font-size: 30px;
    background-position: center center;
    position: absolute;
    
}
